.env
/my_env
/data
/transcription/__pycache__
/summarization/__pycache__
/prompts/__pycache__
/core/__pycache__
/extraction/__pycache__
/preprocessing/__pycache__
/utils/__pycache__
/transcription/__pycache_